<!-- sidebar.component.html -->
<div
        class="flex h-20 max-lg:w-full items-center max-lg:items-center justify-between overflow-hidden px-60 py-2 shadow-sm shadow-mainBlue-darkest">
    <div class="flex h-max items-center justify-center py-4 text-mainBlue-primary">
        <p class="text-5xl font-extrabold duration-200 hover:text-white hover:cursor-pointer" routerLink="/">PRKS</p>
    </div>
    <nav class="top-20 flex max-lg:hidden justify-center text-base tracking-wide text-mainBlue-primary">
        <ul
                class="flex h-full w-auto w-full rounded-full">
            <li class="flex">
                <a routerLink="/"
                   [routerLinkActiveOptions]="{ exact: true }"
                   class="link-item"
                   routerLinkActive="active"
                >
                    <i class="flex items-center text-xl duration-150 fi fi-rr-house-chimney"></i>
                    Home</a></li>
            <li class="flex w-full gap-2">
                <a routerLink="/projects"
                   [routerLinkActiveOptions]="{ exact: true }"
                   class="link-item"
                   routerLinkActive="active"
                >
                    <i class="flex items-center text-xl duration-150 fi fi-rr-briefcase"></i>
                    Projects</a></li>
            <li class="flex w-full gap-2">
                <a routerLink="/about"
                   [routerLinkActiveOptions]="{ exact: true }"
                   class="link-item"
                   routerLinkActive="active"
                >
                    <i class="flex items-center text-xl duration-150 fi fi-rr-info"></i>
                    About</a></li>
            <li class="flex w-full gap-2">
                <a routerLink="/contact"
                   [routerLinkActiveOptions]="{ exact: true }"
                   class="link-item"
                   routerLinkActive="active"
                >
                    <i class="flex items-center text-xl duration-150 fi fi-rr-envelope"></i>
                    Contact</a></li>
        </ul>

    </nav>

</div>

