<div
     class="flex h-full w-full flex-col max-lg:flex-col max-lg:items-center justify-items-start gap-10">
    <p class="text-4xl font-semibold text-primaryWhite" [@fadeInLeftOnEnter]>My Awesome Title</p>
    <div class="container grid h-full grid-cols-2 gap-5">
        <div class="grid grid-cols-2 gap-5"[@fadeInLeftOnEnter]>
            <div class="rounded-lg p-8 shadow-lg bg-card shadow-mainBlue-darkest" [@fadeInLeftOnEnter]>
                <p class="text-3xl font-semibold text-mainBlue-primary">Tile 1</p>
                <p class="text-base text-mainBlue-primary">Description for Tile 1</p>
            </div>
            <div class="rounded-lg p-8 shadow-lg bg-card shadow-mainBlue-darkest" >
                <p class="text-3xl font-semibold text-mainBlue-primary">Tile 2</p>
                <p class="text-base text-mainBlue-primary">Description for Tile 2</p>
            </div>
            <div class="rounded-lg p-8 shadow-lg bg-card  shadow-mainBlue-darkest" [@fadeInLeftOnEnter]>
                <p class="text-3xl font-semibold text-mainBlue-primary">Tile 3</p>
                <p class="text-base text-mainBlue-primary">Description for Tile 3</p>
            </div>
            <div class="rounded-lg p-8 shadow-lg bg-card shadow-mainBlue-darkest" >
                <p class="text-3xl font-semibold text-mainBlue-primary">Tile 4</p>
                <p class="text-base text-mainBlue-primary">Description for Tile 4</p>
            </div>
        </div>
        <div class="" [@fadeInRightOnEnter]>
            <div class="h-full w-full rounded-lg p-8 shadow-lg bg-card shadow-mainBlue-darkest">
                <p class="text-3xl font-semibold text-mainBlue-primary">Single Tile</p>
                <p class="text-base text-mainBlue-primary">Description for Single Tile</p>
            </div>
        </div>
        <div class="h-full w-full rounded-lg p-8 shadow-lg bg-card shadow-mainBlue-darkest" [@fadeInLeftOnEnter]>test</div>
        <div class="flex gap-5" [@fadeInRightOnEnter]>
            <div class="h-full w-1/2 rounded-lg p-8 shadow-lg bg-card shadow-mainBlue-darkest" >test</div>
            <div class="h-full w-1/2 rounded-lg p-8 shadow-lg bg-card shadow-mainBlue-darkest" [@fadeInRightOnEnter]>
                test</div>
        </div>
    </div>
</div>
