<div class="py-20 px-10 bg-home">
    <p class="text-primaryWhite text-4xl font-normal">Title</p>
    <div class="grid grid-cols-4 grid-rows-4 mt-20 gap-4 bg-transparent  ">
        <div class="box-home bg-card flex-col justify-center items-center">
            <p class="text-6xl font-normal ">Tile</p>
            <div class="text-base text-primaryGray font-te">desc</div>
        </div>
        <div class="box-home bg-card flex-col justify-center items-center">
            <p class="text-6xl font-normal ">Tile</p>
            <div class="text-base text-primaryGray font-te">desc</div>
        </div>
        <div class="col-span-2 row-span-2 box-home-sec bg-card flex-col justify-center items-center">
            <p class="text-6xl font-normal ">Tile</p>
            <div class="text-base text-primaryGray font-te">desc</div>
        </div>
        <div class="box-home bg-card flex-col justify-center items-center">
            <p class="text-6xl font-normal ">Tile</p>
            <div class="text-base text-primaryGray font-te">desc</div>
        </div>
        <div class="box-home bg-card flex-col justify-center items-center">
            <p class="text-6xl font-normal ">Tile</p>
            <div class="text-base text-primaryGray font-te">desc</div>
        </div>
        <div class="col-span-2 row-span-2 box-home-sec bg-card flex-col justify-center items-center">
            <p class="text-6xl font-normal ">Tile</p>
            <div class="text-base text-primaryGray font-te">desc</div>
        </div>
        <div class="col-span-2 row-span-2 box-home-sec bg-card flex-col justify-center items-center">
            <p class="text-6xl font-normal ">Tile</p>
            <div class="text-base text-primaryGray font-te">desc</div>
        </div>
    </div>
</div>